body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
#top-wrapper {
    width: 60%;
    margin: 0px auto;
    padding: 10px;
    height: auto;
    background-color: #424651;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

#wrapper {
    border-top: 2px solid #ff6a00;
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    height: auto;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 0px 0px 5px 5px;
}

.navbar-inverse {
    background-color: #236;
    border-color: #080808;
}

.body-content {
    margin-top: 10px;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.is-invalid {
    border: 2px solid #f00 !important;
    background-color: #fee !important;
}

.input-validation-error {
    border: 2px solid #f00 !important;
    background-color: #fee !important;
}

.form-group {
    padding: 0px 5px;
}

.field-validation-error {
    color: #f00;
}

.form-group {
    margin-bottom: 10px !important;
}
